@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,body{
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
	background-color: rgb(138, 136, 136);
}
.navbar{
	padding: 0.5rem;
	background-color: rgb(230, 218, 201);
}
.navbar-nav li{
    padding-right: 15px;
}
.nav-link{
	font-size: 1rem !important;
	color: black;
	font-weight: bold;
}
.nav-link:hover::first-letter{
	border-bottom: chocolate 2px solid;
}
.navbar-brand h2{
	font-weight: bold;
	color: black;
}
.navbar-brand h2::first-letter{
	color: chocolate;
}
.lead{
    color: white;
}